@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);

body,
html,
div.board,
div#react-container {
    height: 100%;
    overflow: auto;
}

body {
    margin: 0;
    padding: 0;
}

#weather-body{
    enable-background: 0%;
}

div.board {

    /* width: 100%; */
    background-image: url(cork.jpg);
    /* background: -moz-radial-gradient(center, ellipse cover, #eab92d 57%, #c79810 99%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(57%, #eab92d), color-stop(99%, #c79810));
    background: -webkit-radial-gradient(center, ellipse cover, #eab92d 57%, #c79810 99%);
    background: -o-radial-gradient(center, ellipse cover, #eab92d 57%, #c79810 99%);
    background: -ms-radial-gradient(center, ellipse cover, #eab92d 57%, #c79810 99%);
    background: radial-gradient(ellipse at center, #eab92d 57%, #c79810 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eab92d', endColorstr='#c79810', GradientType=1); */

}


div.note {
    position: relative !important;
    display: inline-block;
    margin: 6px;
    height: 220px;
    width: 230px;
    background-color: rgb(247, 236, 90);
    word-wrap: break-word;
    /* overflow: scroll; */
    cursor: -webkit-grab;
    -webkit-box-shadow: 14px 13px 32px -4px rgba(0,0,0,1);
-moz-box-shadow: 14px 13px 32px -4px rgba(0,0,0,1);
box-shadow: 14px 13px 32px -4px rgba(0,0,0,1);  
}

div.note:hover{
    transform: scale(1.1, 1.1); /** default is 1, scale it to 1.5 */
    opacity: 1;
}


div.note:active {
    cursor: -webkit-grabbing;
}

div.note p {
    font-size: 22px;
    padding: 5px;
    font-family: "Shadows Into Light", Arial;
}

div.note:hover > span {
    opacity: 1;
}

div.note > span {
    position: absolute;
    bottom: 2px;
    right: 2px;
    opacity: 0;
    transition: opacity .25s linear;
}

div.note button {
    margin: 2px;
}

div.note > textarea {
    height: 75%;
    background: rgba(255, 255, 255, .5);
}

.glyphicon-plus {
    position: fixed;
    top: 10px;
    right: 10px;
}

.navbar{
    margin: 0 auto;
    font-family: 'Rammetto One', cursive;
    font-weight: bold;
}

glyphicon-plus{
    color: blue;
}
