
@import url(https://fonts.googleapis.com/css?family=Kalam);

body,
html,
/* div.board, */
div#react-container {
    min-height: 100%;
    overflow: auto;
}

div#react-container{
    overflow: hidden;

}

div.board{
    overflow: hidden;
    height: 100vh;
    background-image: url(cork.jpg);
}

body {
    margin: 0;
    padding: 0;
}

.element{
    position: static;
}

div.note {
    position: relative!important;
    display: inline-block;
    margin: 10px;
    height: 220px;
    width: 230px;
    background-color: rgb(247, 236, 90);
    word-wrap: break-word;
    cursor: -webkit-grab;
    -webkit-box-shadow: 14px 13px 32px -4px rgba(0,0,0,1);
    -moz-box-shadow: 14px 13px 32px -4px rgba(0,0,0,1);
    box-shadow: 14px 13px 32px -4px rgba(0,0,0,1);  
}

div.note:hover{
    transform: scale(1.1, 1.1); /** default is 1, scale it to 1.5 */
    opacity: 1;
}


div.note:active {
    cursor: -webkit-grabbing;
}

div.note p {
    font-size: 20px;
    padding: 5px;
    font-family: 'Kalam', cursive;
}

div.note:hover > span {
    opacity: 1;
}

div.note > span {
    position: absolute;
    bottom: 2px;
    right: 2px;
    opacity: 0;
    transition: opacity .25s linear;
}

div.note button {
    margin: 2px;
}

div.note > textarea {
    height: 75%;
    background: rgba(255, 255, 255, .5);
}

.glyphicon-plus {
    position: fixed;
    top: 6px;
    right: 60px;
    font-size: 20px;
    text-shadow: black 5px 3px 3px;
    background-color: #0073B2;
    
}

.navbar-brand{
    color: #0073B2 !important;
    font-weight: bold !important;
}

.navbar{
    margin: 0 auto;
    font-family: 'Rammetto One', cursive;
    font-weight: bold;
}

.weather{
    position: relative;
    top: 10px;
    left: 120%;
}

.about{
    position: relative;
    left: 10px;
    top: 10px;
}

.about:hover{
    background-color: rgb(216, 216, 216);

}

#coin{
    height: 40px;
    width: 40px;
    position: relative;
    top: 6px;
}

.portrait{
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

