<!doctype html>
<html>
<head>
	<title>PurpleTree Login Form</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="css/reset.css">
<link rel="stylesheet" type="text/css" href="css/structure.css">

</head>

<body>
		<div class="page-header">
				<img src="http://placehold.it/2000x150"/>
				<!-- <h1>Example Page Header</h1> -->

			  </div>


<div>
		<nav class="navbar navbar-default">
				<div class="container-fluid">
				  <div class="navbar-header">
					<a class="navbar-brand" href="#">WebSiteName</a>
				  </div>
				  <ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#">Page 1</a></li>
					<li><a href="#">Page 2</a></li>
					<li><a href="#">Page 3</a></li>
				  </ul>
				</div>
			  </nav>
</div>
			  <div class="container">

	<form action="/login" method="post" class="box login">
		<fieldset class="boxBody">
			<% if (message.length > 0) { %>
				<div class="alert alert-message"><%= message %></div>
			<% } %>

	  <label>Email</label>
	  	<input class="input100 text-center" type="text" tabindex="1" placeholder="     Enter Your Email Address     " name="email" required>
 		<label>Password</label>
	  	<input class="input100 text-center" type="password" tabindex="2"  placeholder="     Enter Your Email Password     " name="password" required>
		</fieldset>


	<footer>
		<input type="submit" class="login100 btnLogin" value="Login" tabindex="4">
		<input TYPE="button"class="login100 btnLogin" value="SignUp"  onClick="parent.location='/signup'">
			<a href="/auth/facebook" ><img src="images/f.jpg" height="30px"/> </a>
			<a href="/auth/twitter" ><img src="images/t.jpg" height="30px"/></a>
			<a href="/auth/google" ><img src="images/g.jpg" height="30px"/> </a>
	</footer>

</form>




<div class="footer navbar-fixed-bottom">footer</div>


</div>
</body>
</html>
